In [1]:
import numpy as np
import pandas as pd

In [4]:
np.random.seed(42)
df = pd.DataFrame(np.random.uniform(size=(3,3)))
df

          0         1         2
0  0.374540  0.950714  0.731994
1  0.598658  0.156019  0.155995
2  0.058084  0.866176  0.601115

In [5]:
df + 1

          0         1         2
0  1.374540  1.950714  1.731994
1  1.598658  1.156019  1.155995
2  1.058084  1.866176  1.601115

In [25]:
df / np.max(np.max(df))

          0         1         2
0  0.393957  1.000000  0.769941
1  0.629693  0.164107  0.164081
2  0.061095  0.911079  0.632277

In [33]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [2, 4, 6], 'B': [1, 4, 9]}, index=[2, 0, 1])
df1

   A  B
0  1  4
1  2  5
2  3  6

In [34]:
df2

   A  B
2  2  1
0  4  4
1  6  9

### addition happens only for same indicies

In [35]:
df1 + df2

   A   B
0  5   8
1  8  14
2  5   7

In [36]:
df2 + df1

   A   B
0  5   8
1  8  14
2  5   7

In [40]:
df3 = pd.DataFrame(np.random.uniform(size=(5,3)), columns=['A', 'B', 'C'])
df3

          A         B         C
0  0.440152  0.122038  0.495177
1  0.034389  0.909320  0.258780
2  0.662522  0.311711  0.520068
3  0.546710  0.184854  0.969585
4  0.775133  0.939499  0.894827

In [41]:
df1 + df3

          A         B   C
0  1.440152  4.122038 NaN
1  2.034389  5.909320 NaN
2  3.662522  6.311711 NaN
3       NaN       NaN NaN
4       NaN       NaN NaN